<ion-header>
  <ion-toolbar>
    <div align="center">
      <ion-title>Login</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="inter">
    <ion-item>
      <ion-input required type="text" placeholder="User Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
  </div>
  <br>
  <div align="center">
    <ion-button shape="round" color="primary" fill="outline">Login</ion-button>
  </div>
  <br>
  <div class="inter">
    <p>Eres Nuevo: <a href="register">Registrate ahora <ion-icon name="heart"></ion-icon></a> </p>
  </div>
</ion-content>
