ion-slide{
  height: 100%;
}

ion-slides{
  height: 100%;
}

ion-card{
  height: 80%;
  width: 80%;
}

ion-img{
  height: 60%;
}

p{
  height: 40%;
}

ion-button{
  margin-top: 2vh;
}
