<ion-header>
  <ion-toolbar>
    <ion-title >Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngFor="let message of messages">
  <ion-row>
    <ion-col>


      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{ message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
              <p>
              {{message.modelo}}
            </p>
            <p>
              {{message.precioCompra}}$
          </p>
              <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-buttons start>
            <button ion-button icon-only>
              Comprar
              <ion-icon name="logo-usd"></ion-icon>
            </button>
          </ion-buttons>
              </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
              <p>
                {{message.modelo}}
              </p>
              <p>
                {{message.precioCompra}}$
            </p>
              <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-buttons start>
            <button ion-button icon-only>
              Comprar
              <ion-icon name="logo-usd"></ion-icon>
            </button>
          </ion-buttons>
              </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>
      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
              <p>
                {{message.modelo}}
              </p>
              <p>
                {{message.precioCompra}}$
            </p>
              <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-buttons start>
            <button ion-button icon-only>
              Comprar
              <ion-icon name="logo-usd"></ion-icon>
            </button>
          </ion-buttons>
              </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>
      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
            <p>
              {{message.modelo}}
            </p>
            <p>
              {{message.precioCompra}}$
          </p>
            <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons start>
          <button ion-button icon-only>
            Comprar
            <ion-icon name="logo-usd"></ion-icon>
          </button>
        </ion-buttons>
            </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
    <ion-card class="cardSize">
        <ion-img class="img" src="{{message.imagen}}"></ion-img>
        <ion-card-header>
            <ion-card-title>{{message.marca}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>Descripcion</ion-card-title>
            <p>
              {{message.modelo}}
            </p>
            <p>
              {{message.precioCompra}}$
          </p>
            <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons start>
          <button ion-button icon-only>
            Comprar
            <ion-icon name="logo-usd"></ion-icon>
          </button>
        </ion-buttons>
            </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card-content>
    </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
              <p>
                {{message.modelo}}
              </p>
              <p>
                {{message.precioCompra}}$
            </p>
              <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-buttons start>
            <button ion-button icon-only>
              Comprar
              <ion-icon name="logo-usd"></ion-icon>
            </button>
          </ion-buttons>
              </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
              <p>
                {{message.modelo}}
              </p>
              <p>
                {{message.precioCompra}}$
            </p>
              <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-buttons start>
            <button ion-button icon-only>
              Comprar
              <ion-icon name="logo-usd"></ion-icon>
            </button>
          </ion-buttons>
              </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="cardSize">
          <ion-img class="img" src="{{message.imagen}}"></ion-img>
          <ion-card-header>
              <ion-card-title>{{message.marca}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>Descripcion</ion-card-title>
              <p>
                {{message.modelo}}
              </p>
              <p>
                {{message.precioCompra}}$
            </p>
              <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-buttons start>
            <button ion-button icon-only>
              Comprar
              <ion-icon name="logo-usd"></ion-icon>
            </button>
          </ion-buttons>
              </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
