<ion-header>
  <ion-toolbar>
    <div align="center">
      <ion-title>Registrate</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="inter">
    <ion-item>
      <ion-input required type="text" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Contraseña"></ion-input>
    </ion-item>
  </div>
  <br>
  <div align="center">
    <ion-button shape="round" color="primary" fill="outline">Regirtrar</ion-button>
  </div>
</ion-content>
